{% extends 'WeatherSTUFF/base.html' %}

{% block title_block %}
	About
{% endblock %}

{% block body_block %}

	<div class="row">
		<div class="col-md-6">
			<p class="pageTitle">About</p>
		</div>

	{% if user.is_authenticated %}
	{% else %}
		<!-- if not logged in display buttons to sign in or sign up -->
	
		<div class="col-md-3"><a href="{% url 'WeatherSTUFF:login' %}" class="buttonBox" id="accountButton">Sign In</a></div>
		
		<div class="col-md-3"><a href="{% url 'WeatherSTUFF:register' %}" class="buttonBox" id="accountButton">Sign Up</a></div>

	{% endif %}
	</div>
	
	<div class="description">
		We are a group of university students who are interested in the impact
		that climate change is having on the world.
		Our aim is to connect people who are also enthusiastic about this
		issue and give people a platform that they can post up to date
		information on.  Systems that people could track include storms,
		tornadoes, floods and wild fires.
	</div>

{% endblock %}
