{% extends 'WeatherSTUFF/base.html' %}

{% block title_block %}
    Add favourite location
{% endblock %}

{% block body_block %}

    {% if user.is_authenticated %} 

    <div class="row">
        <div class="col-md-2 col-md-offset-5">
            <p class="pageTitle" id="userAuthTitle">{{ user.username }}</p>
        </div>
    </div>

        <!-- display link to get the coordinates of your favourite place -->
        
        <div class="description" id="centredText">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    Click here to get the coordinates of your favourite location
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                    <a href='https://www.latlong.net' class="buttonBox" target="_blank">Get Coordinates</a>
                </div>
            </div>
        </div>

        <!-- display the form to add the details of your favourite place -->

        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div>
                    <form class="form" id="rightText"  method = "post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="row">
                            <div class="col-md-4 col-md-offset-4">
                                <button class = 'buttonBox' id="formButton">Add</a>
                            </div>
                        </div>
                        
                </div>
            </div>

        </div>
  
    {% endif %}

{% endblock %}

