<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head lang = "en">
        <link  rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css"/>
        <script src="{% static 'js/navScript.js' %}"></script>
        <meta charset = "UTF-8" />
        <title>WeatherSTUFF -
               {% block title_block %}

               {% endblock %}
        </title>

        <!-- necessary bootstrap statements -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" 
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" 
        crossorigin="anonymous">

        <!-- Use ajax to send data from javascript to django database (POST/GET requests for pins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


        {% block head_block %}

        {% endblock %}
    </head>
    <body class="bg">
        <!-- nav bar will have option to log out if signed in
        if not signed in, you will have the option to sign in-->

        

        {% if user.is_authenticated %}

            <div class="row">
                <a href="/" class="navButton">Home</a>
                <a href="{% url 'WeatherSTUFF:about' %}" class="navButton">About</a>
                <a href="{% url 'WeatherSTUFF:myaccount' %}" class="navButton">My Account</a>
                <a href="{% url 'WeatherSTUFF:logout' %}" class="navButton">Logout</a>
            </div>  

        {% else %}

            <div class="row">
                <a href="/" class="navButton">Home</a> 
                <a href="{% url 'WeatherSTUFF:about' %}" class="navButton">About</a>
                <a href="{% url 'WeatherSTUFF:login' %}" class="navButton">Sign In</a>
                <a href="{% url 'WeatherSTUFF:myaccount' %}" class="navButton">My Account</a>
            </div>
            
        {% endif %}
                
        

        <div>

            {% block body_block %}
            {% endblock %}
            
        </div>

    </body>

</html>