<!DOCTYPE html>


<html>
    <head lang = "en">
      
        <meta charset = "UTF-8" />
        <title>WeatherSTUFF -
               {% block title_block %}
                    
               {% endblock %}

        </title>

        {% block head_block %}
                    
        {% endblock %}
    </head>
    <body>
            <div>        
            
            <a href="{% url 'WeatherSTUFF:index' %}">Home</a>
            <a href="{% url 'WeatherSTUFF:about' %}">About</a>
            <a href="{% url 'WeatherSTUFF:login' %}">Sign In</a>
            <a href="{% url 'WeatherSTUFF:myaccount' %}" >My Account</a>
        </div>

        <div>
            {% block body_block %}
            {% endblock %}
        </div>
     
    </body>
    
</html>