<!DOCTYPE html>

{% load staticfiles %}
<html>
    <head lang = "en">

        <link  rel="stylesheet" href="{% static 'stylesheets/baseStyle.css' %}" type="text/css"/>
        <meta charset = "UTF-8" />
        <title>WeatherSTUFF -
               {% block title_block %}
                    
               {% endblock %}

        </title>

        {% block head_block %}
                    
        {% endblock %}
    </head>
    <body>
            <div class="navBar" id="navigationBar">        
            
            <a href="{% url 'WeatherSTUFF:index' %}" class="button" id="active">Home</a>
            <a href="{% url 'WeatherSTUFF:about' %}" class="button" id="notActive">About</a>
            <a href="{% url 'WeatherSTUFF:login' %}" class="button" id="notActive">Sign In</a>
            <a href="{% url 'WeatherSTUFF:myaccount' %}" class="button" id="notActive">My Account</a>
        </div>

        <div>
            {% block body_block %}
            {% endblock %}
        </div>
     
    </body>
    
</html>