{% extends 'WeatherSTUFF/base.html' %}

{% block title_block %}
    Change details
{% endblock %}


{% block body_block %}  
   <div class="userDetails">
        {{ user.username }}
   </div>
   <h1 class="pageTitle" id="userAuthenticationTitle">Change details</h1>


   <form id="changeForm" class="user_form" method = "post">

    {% csrf_token %}
    <!-- Display each form -->
    {{ user_form.as_p }}
    {{ profile_form.as_p }}

    <!-- Provide a button to click the submit the form. -->
    <button type="submit" class="buttonBox" id="updateButton">Update</button>
    </form>
{% endblock %}


   