{% extends 'WeatherSTUFF/base.html' %}

{% block title_block %}
    Delete Account
{% endblock %}

{% block body_block %}  

    {% if message %}
        <strong class="description" id="message">{{ message }}</strong>
        <a href = "/" class="buttonBox" id="returnButton">Return to the homepage</a></br />

    {% else %}

        <div class="userDetails">
            {{ user.username }}
        </div>



        <div class="description" id="deleteDiv">
            <form method = "post">
                {% csrf_token %}
		        Press here to permanently delete your account
		        <button class = 'buttonBox' id="deleteButton">Delete</a>
        </div>
        
   
        
    {% endif %}

{% endblock %}