{% extends 'WeatherSTUFF/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Login
{% endblock %}

{% block body_block %}

<h1 class="pageTitle" id="userAuthenticationTitle">Sign In</h1>
<form id="login_form" method="post" action="{% url 'WeatherSTUFF:login' %}">
    {% csrf_token %}

    Username:
    <br />
    <input class="textBox" type="text" name="username" value="" size="50" />
    <br />
    Password:
    <br />
    <input class="textBox" type="password" name="password" value="" size="50" />
    <br />
    <input class="buttonBox" id="submitButton" type = "submit" value = "Sign IN" />

    
</form>
{% endblock %}
