{% extends 'WeatherSTUFF/base.html' %}


{% block title_block %}
    Login
{% endblock %}

{% block body_block %}

<div class="row">
    <div class="col-md-2 col-md-offset-5">
        <p class="pageTitle" id="userAuthTitle">Sign In</p>
    </div>
</div>

<div class="row">

    <div class="col-md-4 col-md-offset-4">
    <!-- display the login form -->
    <form class="form" method="post" action="{% url 'WeatherSTUFF:login' %}">
        {% csrf_token %}

        <!-- if a message is passed in, it should be displayed, explaining the wrong details were entered at first -->
        {% if message %}
        {{ message }}
        {% endif %}<br />  

        Username:
        <br />
        <input class="textBox" type="text" name="username" value="" size="50" />
        <br />
        Password:
        <br />
        <input class="textBox" type="password" name="password" value="" size="50" />
        <br />
        <div class="row">
            <div class="col-md-4 col-md-offset-1"><input class="buttonBox" id="formButton" type = "submit" value = "Sign In" /></div>
            <div class="col-md-4 col-md-offset-1"><a href="{% url 'WeatherSTUFF:register' %}" class="buttonBox" id="formButton">Sign Up</a></div>
        </div>
           
        </form>
    </div>

</div>


{% endblock %}
