{% extends 'WeatherSTUFF/base.html' %}


{% block title_block %}
    Login
{% endblock %}

{% block body_block %}

<h1 class="pageTitle" id="userAuthenticationTitle">Sign In</h1>

<!-- display the login form -->
<form id="login_form" method="post" action="{% url 'WeatherSTUFF:login' %}">
    {% csrf_token %}

    <!-- if a message is passed in, it should be displayed, explaining the wrong details were entered at first -->
    {% if message %}
    {{ message }}
    {% endif %}<br />  

    Username:
    <br />
    <input class="textBox" type="text" name="username" value="" size="50" />
    <br />
    Password:
    <br />
    <input class="textBox" type="password" name="password" value="" size="50" />
    <br />
    <input class="buttonBox" id="loginButton" type = "submit" value = "Sign IN" />
    
</form>
{% endblock %}
