{% extends 'WeatherSTUFF/base.html' %}

{% block title_block %}
    My Account
{% endblock %}


{% block body_block %}

    
    {% if user.is_authenticated %} 

        <h1 class="pageTitle" id="myAccount">{{ user.username }}</h1>

        {% if userProf.profile_picture %}
        <img src="{{ userProf.profile_picture.url }}" width=10%/>
        {% endif %}


        <!-- give the logged in user the option to either edit or delete their account-->
        <div class="authenticationDiv">
            <a href="{% url 'WeatherSTUFF:deleteaccount' %}" class = 'buttonBox' id="accountButton">Delete Account</a>
            <a href="{% url 'WeatherSTUFF:changedetails' %}" class = 'buttonBox' id="accountButton">Change Details</a>
        </div>
        
        <!-- show the user's favourite places
             each favourite place is a link to provide more details about it -->
        <div class="containerClass" id="favouritePlaces">
            My Favourite Places <a href="{% url 'WeatherSTUFF:add_fav' %}" id="addButton">+</a>
            <div class="listDiv">
                <ul>
                    {% for fav_place in fav_places %}
                        <li><a href="{% url 'WeatherSTUFF:show_fav_place' fav_place.slug %}">{{ fav_place.place_name }}</a></li>
                        <br />
                    {% endfor %}
                </ul>
       
            </div>
        </div>

        <!-- display the list of pins which the user has placed 
             each list item is a link to provide more details about the pin or possibly delete it -->
        <div class="containerClass" id="pins">
            My Pins
            <div class="listDiv">
                <ul>
                {% for pin in pins %}
                    
                    <li><a href="{% url 'WeatherSTUFF:show_pin' pin.slug %}">{{ pin.title }}</a></li>
                    <li>{{ pin.content }}</li>
                    <br />
                    
                {% endfor %}

                </ul>
            </div>
        </div>

    {% else %}

    <!-- if the user isn't logged in, give them the option to sign in or create an account -->
    <div class="description">
        Have an account? Login here <a class="buttonBox" id="smallLink" href = "{% url 'WeatherSTUFF:login' %}">Sign In</a> or
   </br>
        Create an Account here <a class="buttonBox" id="smallLink" href = "{% url 'WeatherSTUFF:register' %}">Sign Up</a>
     
    </div>
    {% endif %} <br />
   
{% endblock %}


   