{% extends 'WeatherSTUFF/base.html' %}

{% block title_block %}
    My Account
{% endblock %}


{% block body_block %}
<h1 class="pageTitle" id="myAccount">{{ user.username }}</h1>
    
    {% if user.is_authenticated %} 
        <a href="{% url 'WeatherSTUFF:changedetails' %}" class = 'buttonBox' id="changeButton">Change details</a>   
       
    {% else %}
        Have an accont? Login here <a class="buttonBox" id="smallLink" href = "{% url 'WeatherSTUFF:login' %}">Sign In</a> or
   </br>
        Create an Account here <a class="buttonBox" id="smallLink" href = "{% url 'WeatherSTUFF:register' %}">Register</a>
    {% endif %} <br />
    <strong>{{ boldmessage }}</strong><br />
</div>
   
{% endblock %}


   