{% extends 'WeatherSTUFF/base.html' %}

{% block title_block %}
    {{ pin.title }}
{% endblock %}

{% block body_block %}

    <!-- if a message was passed in from the view, then the pin has been deleted and the user is told about this -->
    {% if message %}
        <strong class="description" id="accountDeleted">{{ message }}</strong>
        <a href = "/" class="buttonBox" id="returnButton">Return to the homepage</a></br />

    {% else %}

    <!-- display the form to delete the pin -->
    <div class="description" id="deleteDiv">
        <form method = "post">
            {% csrf_token %}
            Press here to permanently delete your pin
            <button class = 'buttonBox' id="deleteButton">Delete</a>
    </div>
    {% endif %}

{% endblock %}